body {
    text-align: center;
    margin: auto;
    width: 900px;
    font-family: sans-serif;
}

h1 {
    font-family: Cursive;
    font-size: 4em;
    margin: 10px;
}

img {
    width: 100%;
}

#ate {
    width: 70%;
}

#stuff {
    margin: 5px;
}

.container {
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
    border: 1px solid;
}

#sec1 {
    width: 350px;
    height: 400px;
    float: left;
}

#sec2 {
    width: 530px;
    height: 100px;
    float: right;
}

#sec3 {
    margin: 10px 0 10px 0;
    width: 530px;
    height: 290px;
    float: right;
}

#sec4{
    float: left;
    width: 100%;
}

#sec4{
    float: left;
    width: 600px;
    height: 400px;
}

#sec5{
    float: right;
    width: 275px;
    height: 400px;
}

#sec6{
    margin: 10px 0 1em 0;
    float: left;
    width: 100%;
    height: 100px;
}
